<!DOCTYPE html>
<html>
  <head>
    <title>OAuth</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
  <div class="container">
    <% if (success) { %>
      <h1>Logged in successfully!</h1>
      <a href="/events" class="btn btn-primary btn-lg active" role="button">Look at your upcoming events</a>
    <% } else { %>
      <h1>Login failed, try again</h1>
    <% } %>
  </div>
  </body>
</html>
